.graph-container {
    width: 550px;
    height: 550px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 3s ease-out forwards;
}


@media (max-width: 767px) {
    .graph-container {
        width: 45vh;
        height: 45vh;
    }

    .stack-left-container {
        margin-top: -30px
    }

    .right-container {
        margin-top: -100px
    }
}

.right-container {
    height: 90vh;
}
